{% extends 'base.html' %}
{% block body %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="banner">
                    <div class="banner-text">
                        <h1>ToDo</h1>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div align="center">
        <div class="col-md-6">
            <form method="POST" class="mb-3 shadow"> {% csrf_token %}
            <div class="col-auto">
                <input type="text" name="name" class="form-control" placeholder="Task Name">
            </div>
            <div class="col-auto">
                <input type="text" name="priority" class="form-control" placeholder="Priority">
            </div>
            <div class="col-auto">
                <input type="date" name="date" class="form-control" placeholder="Date">
            </div>
            <div class="col-auto">
                <input type="submit" class="btn btn-success">
            </div>
            </form>
        </div>
    </div>
    <div class="container">
        <br><h4 align="center">Tasks to be completed</h4><br>
        <div class="row g-3">
            {% for i in task %}
            <div class="col-md-3">
                <div class="card shadow" style="width: 18rem;">
                    <div class="card-body">
                        <h5 class="card-title">{{i.name}}</h5>
                        <p class="card-text">{{i.priority}}<br>{{i.date}}</p>
                        <a class="btn btn-success" href="{% url 'todo:delete' i.id %}">Done</a>
                        <a class="btn btn-danger" href="{% url 'todo:update' i.id %}">Update</a>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>

{% endblock %}
